.heroImage{
    background-image: radial-gradient(circle, transparent, #212529), url("../images/jeroen.jpg");
    width: 40%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heroImage2{
    background-image: radial-gradient(circle, transparent, #212529), url("../images/jeroen3.jpg");
    width: 40%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.reviewContainer{
    transition: .25s ease-out;
}

.reviewContainer:hover{
    transform: translateY(-5px);
    box-shadow: #0DCAF0 0px 0px 10px;
}

.workoutImage{
    width: 200px;
}

.singleWorkoutImage{
    width: 100%;
}

.watermark{
    width: 150px;
    bottom: 0;
    right: 0;
}


@media only screen and (max-width: 992px) {
    .heroImage{
        width: 100%;
    }
    .workoutImage{
        width: 100%;
    }
    .singleWorkoutBackground{
        height: 100vh;
    }
    .watermark{
        width: 75px;
    }
}

@media only screen and (min-width: 992px) {
    .carousel-inner{
        height: 700px !important;
        width: 900px !important;
    }

    .workoutsBackground{
        height: 100vh;
    }

    .singleWorkoutImage{
        width: 500px;
    }
}

.workoutBody > *{
    color: white !important;
}

.workoutBody p{
    color: white !important;
}

.workoutBody p span{
    color: white !important;
}

.leaderboardWinner{
    font-family: "Dancing Script", cursive !important;
    font-size: 1.5rem;
}
